<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css"/>
    <title>Sushi EX</title>
</head>
<body ng-app="app" ng-controller="appController">
<div class="application">
    <div id="wrapper">
        <div id="header">
            <h1 class="logo"><a href="#/"></a></h1>

            <a id="cart-info" href="#">Shopping Cart<span><span>0</span> items</span></a>
        </div>
        <div id="main-section">
            <section id="pre-content">
                <ul id="main" class="k-widget k-listview" ng-repeat="menus in menu">
                    <li class="products" role="option" aria-selected="false">
                        <a class="view-details" href="#/menu/1">
                            <img class="main-image" src="{{menus.img}}" alt="{{menus.title}}" title="{{menus.title}}">
                            <strong data-bind="text: name">{{menus.title}}</strong>
                            <span class="price"><span>$</span><span data-bind="text: price">{{menus.price}}</span></span>
                        </a>

                        <button class="add-to-cart" ng-click="addToCard(menus.id)">Add to cart</button>
                    </li>
                </ul>
            </section>
            <button class="add-to-cart" ng-click="delete()">Delete</button>
            <section id="content">
                <div ng-view></div>
            </section>
        </div>
    </div>
</div>
</div>
<script src="/sushi/bower_components/angular/angular.min.js"></script>
<script src="/sushi/bower_components/angular-route/angular-route.min.js"></script>
<script src="app.js"></script>
<script src="item/item.js"></script>
</body>
</html>